<!DOCTYPE html>
<html>

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Crisp. Designer Portfolio Template.</title>
	<meta name="description" content="Crisp. Designer Portfolio Template.">
	<meta name="author" content="aether_">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Retina Images -->
	<script>if((window.devicePixelRatio===undefined?1:window.devicePixelRatio)>1)
		document.cookie='HTTP_IS_RETINA=1;path=/';</script>
	<!-- End Retina Images -->

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
	<!-- End Fonts -->

	<link rel="stylesheet" href="css/project-slider.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">

	<!-- JAVASCRIPT LIBRARY -->

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

	<!-- Slider -->

	<script src="js/project-slider/main.js" type="text/javascript"></script>
	<script src="js/project-slider/options.js" type="text/javascript"></script>

	<!-- Main JS -->

	<script src="js/custom.js" type="text/javascript"></script>


</head>

<body>

	<div id="mobile-nav">


		<div class="container clearfix">


			<div>

				<!-- Mobile Nav Button -->
				<div class="navigationButton sixteen columns clearfix">
					<img src="images/mobile-nav.png" alt="Navigation" width="29" height="17" />
				</div>
				<!-- End Mobile Nav Button -->


				<div class="navigationContent sixteen columns clearfix">

					<!-- Mobile Navigation -->
					<ul>
						<li><a href="index.html">Home.</a></li>
						<li><a href="about.html">About.</a></li>
						<li><a class="active" href="portfolio.html">Portfolio.</a></li>
						<li><a href="features.html">Features.</a></li>
						<li><a href="blog.html">Blog.</a></li>
						<li><a href="contact.html">Contact.</a></li>
					</ul>
					<!-- End Mobile Navigation -->

				</div>
			</div>


		</div><!-- END CONTAINER -->


	</div>

	<header class="container clearfix">

		<!-- Logo -->
		<div id="logo" class="two columns clearfix">
			<span class="logo">faetea</span>
			<!-- <img src="images/logo.png" alt="logo" width="69" height="33" />  -->
		</div>
		<!-- End Logo -->

		<!-- Navigation -->
		<nav id="nav" class="fourteen columns clearfix">


			<ul id="navigation">
				<li><a href="index.html">Home.</a></li>
				<li><a href="about.html">About.</a></li>
				<li class="active"><a href="portfolio.html">Portfolio.</a></li>
				<li><a href="features.html">Features.</a></li>
				<li><a href="blog.html">Blog.</a></li>
				<li class="last"><a href="contact.html">Contact.</a></li>
			</ul>


		</nav>
		<!-- End Navigation -->

	</header><!-- END CONTAINER -->

	<section id="title" class="container clearfix">

		<!-- Title -->
	  <div class="fourteen columns">
	    <h1>Daughter of the Kuhi.</h1>
			<hr>
			<h2></h2>
	    <p></p>
	  </div>
	  <!-- End Title -->

		<!-- Switch -->
		<div class="switch two columns">
			<ul>
				<li><a class="prev" href="#">Prev</a></li>
				<li><a class="next" href="#">Next</a></li>
			</ul>
		</div>
		<!-- End Switch -->

		<div class="sixteen columns">
			<ul class="directory">
				<li><a href="#hoopoe"><img src="images/project/2D/5hoopoe-SQ.jpg" /></a></li>
				<li><a href="#sisters"><img src="images/project/2D/5sistersCool-SQ.jpg" /></a></li>
				<li><a href="#cursed"><img src="images/project/2D/5CursedDaughter-SQ.jpg" /></a></li>
				<li><a href="#kime"><img src="images/project/2D/5kimeh-SQ.jpg" /></a></li>
				<li><a href="#preparation"><img src="images/project/2D/5preparation-SQ.jpg" /></a></li>
				<li><a href="#cleric"><img src="images/project/2D/5kuhiCleric-SQ.jpg" /></a></li>
				<li><a href="#whispers"><img src="images/project/2D/5whispers-SQ.jpg" /></a></li>
			</ul>
		</div>


	</section><!-- END CONTAINER -->


	<!-- Entry -->
	<section id="hoopoe" class="showcase-entry dark">
		<div class="container clearfix">
			<div class="description one-third column">
				<h1>Hoopoe Birds.</h1>
				<h2>Ink on Illustration Board, 2008.</h2>
				<p>
				</p>
				<a class="button" href="portfolio-single-project.html">More</a>
			</div>
			<div class="screen two-thirds column">
				<img src="images/project/2D/5hoopoe.jpg" alt="Hoopoe Birds" />
			</div>
		</div><!-- END CONTAINER -->
	</section>
	<!-- End Entry -->

	<!-- Entry -->
	<section id="sisters" class="showcase-entry light">
		<div class="container clearfix">
			<div class="description one-third column overview">
				<h1>Kuhi Sisters.</h1>
				<h2>Lithography Printmaking, 2008.</h2>
				<p>
				</p>
				<a class="button" href="portfolio-single-project.html">More</a>
			</div>

			<div class="screen two-thirds column">
				<!-- Slider -->
				<div class="flexslider">
					<ul class="slides">
						<li data-thumb="images/project/2D/5sistersCool-SQ.jpg">
							<img src="images/project/2D/5sistersCool.jpg" alt="Sisters Cool" />
						</li>
						<li data-thumb="images/project/2D/5sistersWarm-SQ.jpg">
							<img src="images/project/2D/5sistersWarm.jpg" alt="Sisters Warm" />
						</li>
					</ul>
				</div>
				<!-- End Slider -->
			</div>

		</div><!-- END CONTAINER -->
	</section>
	<!-- End Entry -->

	<!-- Entry -->
	<section id="cursed" class="showcase-entry dark">
		<div class="container clearfix">
			<div class="description one-third column">
				<h1>Cursed Daughter.</h1>
				<h2>Digital Painting, 2009.</h2>
				<p></p>
				<a class="button" href="portfolio-single-project.html">More</a>
			</div>
			<div class="screen two-thirds column">
				<img src="images/project/2D/5CursedDaughter.jpg" alt="Cursed Daughter" />
			</div>
		</div><!-- END CONTAINER -->
	</section>
	<!-- End Entry -->

	<!-- Entry -->
	<section id="kime" class="showcase-entry light">
		<div class="container clearfix">
			<div class="description one-third column">
				<h1>Kime Sketch.</h1>
				<h2>Digital Sketch, 2012.</h2>
				<p></p>
				<a class="button" href="portfolio-single-project.html">More</a>
			</div>
			<div class="screen two-thirds column">
				<img src="images/project/2D/5kimeh.jpg" alt="Kime Sketch" />
			</div>
		</div><!-- END CONTAINER -->
	</section>
	<!-- End Entry -->

	<!-- Entry -->
	<section id="preparation" class="showcase-entry dark">
		<div class="container clearfix">
			<div class="description one-third column">
				<h1>Priestess' Preparation.</h1>
				<h2>Ink on Illustration Board, 2007</h2>
				<p></p>
				<a class="button" href="portfolio-single-project.html">More</a>
			</div>
			<div class="screen two-thirds column">
				<img src="images/project/2D/5preparation.jpg" alt="Priestess' Preparation" />
			</div>
		</div><!-- END CONTAINER -->
	</section>
	<!-- End Entry -->

	<!-- Entry -->
	<section id="cleric" class="showcase-entry light">
		<div class="container clearfix">
			<div class="description one-third column">
				<h1>Kuhi cleric.</h1>
				<h2>Marker, 2006.</h2>
				<p></p>
				<a class="button" href="portfolio-single-project.html">More</a>
			</div>
			<div class="screen two-thirds column">
				<img src="images/project/2D/5kuhiCleric.jpg" alt="Kuhi cleric" />
			</div>
		</div><!-- END CONTAINER -->
	</section>
	<!-- End Entry -->

	<!-- Entry -->
	<section id="whispers" class="showcase-entry dark">
		<div class="container clearfix">
			<div class="description one-third column">
				<h1>Four Whispers.</h1>
				<h2>Ink on Illustration Board, 2006</h2>
				<p></p>
				<a class="button" href="portfolio-single-project.html">More</a>
			</div>
			<div class="screen two-thirds column">
				<img src="images/project/2D/5whispers.jpg" alt="Four Whispers" />
			</div>
		</div><!-- END CONTAINER -->
	</section>
	<!-- End Entry -->


	<section id="call-to-action">
			<div class="container clearfix">

				<!-- Call to action -->
				<div class="sixteen columns">
					<h1>Pretty cool, right?</h1>
					<h2>Why don't you check out the rest.</h2>
					<a class="button dark" href="about.html">Show me more</a>
				</div>
				<!-- Call to action -->


			</div><!-- END CONTAINER -->
		</section>

		<footer class="container clearfix">

			<!-- Navigation -->
			<div id="foot-nav" class="twelve columns">
				<ul>
					<li class="first"><a class="active" href="index.html">Home.</a></li>
					<li><a href="about.html">About.</a></li>
					<li><a href="portfolio.html">Portfolio.</a></li>
					<li><a href="features.html">Features.</a></li>
					<li><a href="blog.html">Blog.</a></li>
					<li class="last"><a href="contact.html">Contact.</a></li>
				</ul>
			</div>
			<!-- End Navigation -->

			<!-- Copyright -->
			<div id="copyright" class="four columns">
				<p>Theme by <a href="http://themeforest.net/user/aether_">Aether_</a></p>
				<p><a href="http://themeforest.net/user/aether_">Crisp</a> © copyright 2012</p>
			</div>
			<!-- End Copyright -->


		</footer><!-- END CONTAINER -->


</body>

</html>
